/.bundle
/db/*.sqlite3
/log/*.log
/tmp
.rbenv-version
.redcar/
.idea/
/public/uploads/
/public/images/identicon/
/public/images/icons/
/public/images/notifications/
/app/assets/images/icons/
/app/assets/images/notifications/
.sass-cache/
/vendor/bundle
.DS_Store
._*
