._*
/.bundle
.DS_Store
.idea/
.rbenv-version
.redcar/
.sass-cache/
database.yml
/config/initializers/tumblr.rb
/db/*.sqlite3
/log/*.log
/public/assets
/public/coverage
/public/uploads
/public/images/identicon
/tmp
/uploads
/vendor/bundle
