<div id="picture-selector">
  <% @pictures.each do |picture| %>
    <div class="picture-selector-picture">
      <%= image_tag picture.image.url(:medium), :alt => picture.alt_text, :title => picture.title, :data => { 'url' => picture.image.url, 'picture-id' => picture.id.to_s } %><br>
      <%= picture.title %>
    </div>
  <% end %>
</div>
