@import "~materialize-css/sass/components/color-variables";

.image-uploader {
    border-color: color("indigo", "lighten-3");
    border-style: dotted;
    border-width: 4px;
    padding: 15px;

    &.hover {
        border-style: solid;
    }

    input[type="file"] {
        display: none;
    }
}
