<% flash.each do |name, message| %>
  <% if name == :debug %>
    <div class="alert alert-info alert-block">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <h4>Debug Info</h4>
      <br>
      <pre><%= message %></pre>
    </div>
  <% else %>
    <div class="alert alert-<%= name.to_s %>">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong><%= name.to_s.capitalize %>!</strong> <%= message %>
    </div>
  <% end %>
<% end %>
