<%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, url_or_path, :method => :delete, :data => { :confirm => t('confirm_delete') }, :class => 'btn btn-mini', :rel => 'tooltip', :title => t('delete') %>
