<div class="control-group" style="margin-bottom: 5px; margin-top: 5px;">
  <div class="controls">
    <a href="javascript:void(0);" class="insert-picture-button btn" data-target="#<%= target %>">Insert Picture</a>
  </div>
</div>
