<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
  <h1>New Contact Form Message</h1>
  <h2>Name</h2>
  <p><%= @contact.name %></p>
  <h2>Email</h2>
  <p><%= @contact.email %></p>
  <h2>Subject</h2>
  <p><%= @contact.subject %></p>
  <h2>Body</h2>
  <p><%= @contact.body %></p>
</body>
</html>
