<div id="picture-<%= @picture.id %>" class="picture">
  <div class="image">
    <%= link_to image_tag("/uploads/picture/image/#{picture.image_file_name}", :alt => picture.alt_text), "/uploads/picture/image/#{picture.image_file_name}" %>
  </div>
  <!--<div class="title">-->
    <!--<%= picture.title %>-->
  <!--</div>-->
  <!--<div class="caption">-->
    <!--<%= picture.caption %>-->
  <!--</div>-->
</div>
