- content_for :page_title do
  = t('.page_title')
- content_for :meta_description do
  = t('.meta_description')
#pictures
  %ul#tiles
    - @pictures.each do |picture|
      %li
        = link_to image_tag(picture.image.url(:medium), alt: picture.alt_text, width: '190', height: picture.scale_height(190)), picture.image.url
