/*
*= require reset
*= require_self
*/

@charset "utf-8";

/* Begin Main Page Styles */

body {
  background: #ebebeb;
  color: #464646;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-family: Georgia, serif;
  font-size: 24px;
  font-style: italic;
}

a {
  &:link, &:visited {
    color: #30a4b1;
    text-decoration: none;
  }
  &:focus, &:hover {
    color: #f7941d;
  }
}

.container {
  margin: 0 auto;
  width: 900px;
}

.content {
  background: #ffffff;
  border: 1px solid #bab9b9;
  padding-bottom: 25px;
}

.line {
  border-top: 1px solid #bab9b9;
  height: 1px;
}

.in {
  margin: 25px auto;
  width: 850px;
}

/* End Main Page Styles */

/* Begin Header */

header {
  overflow: hidden;
}

.logo {
  float: left;
  margin: 25px 0;
}

.controls {
  float: right;
  margin-top: 15px;
}

.v-line {
  color: #999999;
  padding: 0 5px;
}

/* End Header */

/* Begin Main Navigation */

nav#main {
  background: #464646;
  float: left;
  margin-bottom: 20px;
  position: relative;
  width: 900px;
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      font-weight: normal;
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        color: #ffffff;
        float: left;
        font-size: 14px;
        margin: 0;
        padding: 20px 30px;
        text-decoration: none;
        &:hover, &.current {
          background: #30a4b1;
        }
      }
    }
  }
}

/* End Main Navigation */

/* Begin Flash Notification */

.notification {
  background: #f7f7f7;
  border: 1px solid #bab9b9;
  margin: 32px;
  min-height: 16px;
  padding: 10px 15px 10px 62px;
  text-align: left;
}

.attention {
  background: #ffdb91 url(notifications/attention.png) no-repeat 15px center;
  border: 1px solid #ffc44a;
}

.success {
  background: #e2ff7d url(notifications/success.png) no-repeat 15px center;
  border: 1px solid #99c600;
}

.error {
  background: #f5b5a9 url(notifications/error.png) no-repeat 15px center;
  border: 1px solid #eb5339;
}

.information {
  background: #b3cfea url(notifications/information.png) no-repeat 15px center;
  border: 1px solid #418acc;
}

.lightbulb {
  background: #feefcb url(notifications/lightbulb.png) no-repeat 15px center;
  border: 1px solid #d3a350;
}

/* End Flash Notification */

/* Begin Page Actions */

#page-actions {
  background: #464646;
  overflow: hidden;
  height: 39px;
  a {
    color: #ffffff;
    float: left;
    height: 27px;
    padding: 6px;
    line-height: 27px;
    &:hover {
      background: #f7941d;
    }
  }
  input {
    margin-top: 0 !important;
  }
}

.object-search {
  float: right;
}

/* End Page Actions */

/* Begin Object Tables */

table {
  border-left: 1px solid #bab9b9;
  border-right: 1px solid #bab9b9;
  border-top: 1px solid #bab9b9;
  text-align: left;
  width: 100%;
}

thead tr {
  background: #d9d8d8;
  font-size: 14px;
}

tr {
  border-bottom: 1px solid #bab9b9;
  &.even {
    background: #f7f7f7;
  }
}

th, td {
  padding: 12px;
}

/* End Object Tables */

/* Begin Forms */

input {
  &[type="file"], &[type="password"], &[type="text"] {
    border: 1px solid #bab9b9;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    color: #707070;
    font-size: 14px;
    margin-top: 5px;
    padding: 10px;
  }
}

select {
  border: 1px solid #bab9b9;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  color: #707070;
  font-size: 14px;
  margin-top: 5px;
  padding: 10px;
}

input {
  &[type="button"], &[type="reset"], &[type="submit"] {
    border: 0;
    background: #f7941d;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 10px 20px;
  }
}

textarea {
  border: 1px solid #bab9b9;
  color: #707070;
  font-size: 14px;
  height: 140px;
  margin-top: 5px;
  padding: 10px;
  width: 830px;
}

input.small, select.small {
  width: 300px;
}

input.medium, select.medium {
  width: 600px;
}

input.large, select.large {
  width: 830px;
}

form p {
  margin-bottom: 15px;
}

.field_with_errors {
  input, select, textarea {
    border: #ff3443 1px solid;
    box-shadow: 0 0 5px rgba(255, 52, 67, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 52, 67, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 52, 67, 1);
  }
}

input {
  &[type="file"], &[type="password"], &[type="text"] {
    outline: none;
    transition: box-shadow 0.30s ease-in-out, 				-moz-box-shadow 0.30s ease-in-out, 				-webkit-box-shadow 0.30s ease-in-out;
    -moz-transition: box-shadow 0.30s ease-in-out, 					 -moz-box-shadow 0.30s ease-in-out, 					 -webkit-box-shadow 0.30s ease-in-out;
    -webkit-transition: box-shadow 0.30s ease-in-out, 						-moz-box-shadow 0.30s ease-in-out, 						-webkit-box-shadow 0.30s ease-in-out;
  }
}

select, textarea {
  outline: none;
  transition: box-shadow 0.30s ease-in-out, 				-moz-box-shadow 0.30s ease-in-out, 				-webkit-box-shadow 0.30s ease-in-out;
  -moz-transition: box-shadow 0.30s ease-in-out, 					 -moz-box-shadow 0.30s ease-in-out, 					 -webkit-box-shadow 0.30s ease-in-out;
  -webkit-transition: box-shadow 0.30s ease-in-out, 						-moz-box-shadow 0.30s ease-in-out, 						-webkit-box-shadow 0.30s ease-in-out;
}

input {
  &[type="file"]:focus, &[type="password"]:focus, &[type="text"]:focus {
    border: 1px solid #bab9b9;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

select:focus, textarea:focus {
  border: 1px solid #bab9b9;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* End Forms */

/* Begin Debug Info */

#toggle-debug {
  cursor: pointer;
}

#debug-info {
  display: none;
}

/* End Debug Info */

/* Begin Footer */

footer {
  margin-bottom: 40px;
  padding-top: 15px;
  text-align: right;
}

/* End Footer */

/* Begin Home Page Quick Links */

#quick-links ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 10px;;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 10px 15px;
    a {
      background: #ededed;
      box-shadow: 3px 3px 5px #cccccc;
      -moz-box-shadow: 3px 3px 5px #cccccc;
      -webkit-box-shadow: 3px 3px 5px #cccccc;
      display: inline-block;
      padding: 30px;
      height: 50px;
      width: 50px;
      &:hover {
        background: #fdfdfd;
        box-shadow: 5px 5px 5px #cccccc;
        -moz-box-shadow: 5px 5px 5px #cccccc;
        -webkit-box-shadow: 5px 5px 5px #cccccc;
      }
    }
  }
}

/* End Home Page Quick Links */
