<div class="form-group" style="margin-bottom: 0; margin-top: 0;">
  <div class="col-lg-offset-2 col-lg-10">
    <a href="/admin/pictures/selector" class="btn btn-default" data-toggle="modal" data-target="#picture-selector-modal">Insert Picture</a>
    <div id="picture-selector-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pictureSelectorModal" aria-hidden="true" data-target="<%= target %>"></div>
  </div>
</div>
