.picture-selector-modal {
    .picture-selector-modal-pictures {
        .picture-selector-modal-picture {
            text-align: center;

            img {
                max-width: 100%;
            }

            .title {
                font-size: 0.75rem;
            }
        }
    }
}
