@font-face {
  font-family: 'Lobster';
  src: font-url('Lobster/Lobster.eot');
  src: font-url('Lobster/Lobster.eot?#iefix') format('embedded-opentype'),
  font-url('Lobster/Lobster.woff') format('woff'),
  font-url('Lobster/Lobster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin-top: 65px;
  overflow-y: scroll;
}

body:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255, 65, 161, .6) 100%) fixed 0 0 transparent;
  background: -moz-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255, 65, 161, .6) 100%) fixed 0 0 transparent;
  background: radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255, 65, 161, .6) 100%) fixed 0 0 transparent;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.navbar-fixed-top, .navbar-fixed-bottom {
  background: #ff41a1;

  .brand {
    color: #ffeaf2;
    text-shadow: none;
  }

  .navbar-inner {
    background: none;
    border: none;
    box-shadow: none;
    filter: none;
  }

  .nav > li > a {
    color: #ffeaf2;
    text-shadow: none;
  }
}

.post {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .post-header {
    .post-title {
      font-family: "Lobster";
      font-size: 35px;
      font-weight: normal;
    }

    .post-author {
      font-family: "Georgia";
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 40px;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .post-date {
      text-align: center;

      .day {
        font-size: 30px;
        text-align: center;
      }

      .month {
        font-size: 20px;
        text-align: center;
      }

      .year {
        font-size: 9px;
        letter-spacing: 3px;
        text-align: center;
      }
    }

    .post-metadata {
      font-family: "Georgia";
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .post-body {
    font-size: 16px;
  }
}

.page {
  .page-title {
    color: #f60069;
    font-family: "Lobster";
    font-size: 35px;
    font-weight: normal;
  }

  .page-body {
    font-size: 16px;
  }
}

#contact {
  textarea {
    height: 175px;
    width: 80%;
  }
}

footer.main {
  border-top: 3px #f9d4d4 dotted;
  font-size: 10px;
  text-align: center;
}

.center {
  text-align: center;
}

.video-pictures {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;

  iframe, object, embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.devise {
  margin-top: 45px;
  padding: 0 25px 0 25px;

  h1 {
    color: #f60069;
    font-family: "Lobster";
    font-size: 35px;
    font-weight: normal;
    margin-left: 180px;
  }

  .form-actions {
    background: transparent;
    border-top: none;
  }

  .shared-links {
    margin-left: 180px;

    ul {
      li {
        a {
          background: none;
        }
      }
    }
  }
}

@media (max-width: 979px) {
  body {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .post {
    .post-header {
      .post-title {
        font-size: 20px;
        line-height: 20px;
        margin: 2px 0;
      }
    }
  }

  .page {
    .page-title {
      font-size: 20px;
      line-height: 20px;
      margin: 2px 0;
    }
  }
}

@media (max-width: 480px) {
  .devise {
    h1 {
      margin-left: 0;
    }

    .form-actions {
      padding-left: 0;
      padding-top: 0;
    }

    .shared-links {
      margin-left: 0;
    }
  }
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

html, body {
  height: 100%;
}

#pictures {
  padding: 5px;
  margin-bottom: 20px;
}

.picture {
  width: 104px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;

  img {
    width: 104px;
  }
}

.picture.width2 {
  width: 218px;

  img {
    width: 218px;
  }
}

.picture.width3 {
  width: 332px;

  img {
    width: 332px;
  }
}
