@font-face {
  font-family: 'Lobster';
  src: font-url('Lobster/Lobster.eot');
  src: font-url('Lobster/Lobster.eot?#iefix') format('embedded-opentype'),
  font-url('Lobster/Lobster.woff') format('woff'),
  font-url('Lobster/Lobster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
//  background-color: #ffccd1;
//  background: -moz-repeating-linear-gradient(45deg, white, white 35px, rgba(255, 65, 161, .3) 35px, rgba(255, 65, 161, .3) 70px) repeat fixed 0 0 transparent;
//  background: -webkit-repeating-linear-gradient(45deg, white, white 35px, rgba(255, 65, 161, .3) 35px, rgba(255, 65, 161, .3) 70px) repeat fixed 0 0 transparent;
//  background: -o-repeating-linear-gradient(45deg, white, white 35px, rgba(255, 65, 161, .3) 35px, rgba(255, 65, 161, .3) 70px) repeat fixed 0 0 transparent;
  margin-top: 65px;
  overflow-y: scroll;
}

body:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255, 65, 161, .6) 100%) fixed 0 0 transparent;
  background: -moz-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255, 65, 161, .6) 100%) fixed 0 0 transparent;
  background: radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255, 65, 161, .6) 100%) fixed 0 0 transparent;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.navbar-fixed-top, .navbar-fixed-bottom {
  background: #ff41a1;

  .brand {
    color: #ffeaf2;
    text-shadow: none;
  }

  .navbar-inner {
    background: none;
    border: none;
    box-shadow: none;
    filter: none;
  }

  .nav > li > a {
    color: #ffeaf2;
    text-shadow: none;
  }
}

.post {
//  outline: 1px solid;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .post-header {
    .post-title {
      font-family: "Lobster";
      font-size: 35px;
      font-weight: normal;
    }

    .post-author {
      font-family: "Georgia";
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 40px;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .post-date {
      text-align: center;

      .day {
        font-size: 30px;
        text-align: center;
      }

      .month {
        font-size: 20px;
        text-align: center;
      }

      .year {
        font-size: 9px;
        letter-spacing: 3px;
        text-align: center;
      }
    }

    .post-metadata {
      font-family: "Georgia";
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .post-body {
    font-size: 16px;
  }
}

.page {
  .page-title {
    color: #f60069;
    font-family: "Lobster";
    font-size: 35px;
    font-weight: normal;
  }

  .page-body {
    font-size: 16px;
  }
}

#contact {
  textarea {
    height: 175px;
    width: 80%;
  }
}

footer.main {
  border-top: 3px #f9d4d4 dotted;
  font-size: 10px;
  text-align: center;
}

.center {
  text-align: center;
}

.video-pictures {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;

  iframe, object, embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 979px) {
  body {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .post {
    .post-header {
      .post-title {
        font-size: 20px;
        line-height: 20px;
        margin: 2px 0;
      }
    }
  }

  .page {
    .page-title {
      font-size: 20px;
      line-height: 20px;
      margin: 2px 0;
    }
  }
}
